@import './reset.scss';
@import './_vars.scss';

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.clearfix {
    *zoom: 1;
}

/* Font */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}

/* Elements */

h1 {
    font-size: 20px;
    font-weight: bold;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cc5959;
    border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cc5959;
}

/* debug */
/*
.Photo {

    border: 1px solid green;
}
.InfiniteScrollItem {
    border: 1px red solid;
    margin-bottom: 12px;
}

.Post {
    border: 1px solid green;
}

.InfiniteScroll {
    border: blue 1px solid;
}
*/
